.hero__section {
  display: flex;
  width: 90%;
  height: 500px;
  margin: 2rem auto;
}

.explore__section {
  /* flex: 1; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.explore__section ul {
  list-style: none;
}

.explore__section ul li {
  margin-top: 1rem;
}

.explore__section ul li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.explore__heading {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.explore__section i {
  font-size: 1rem;
  margin-right: 0.7rem;
}

.contact__section {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.7rem;
}

.contact__section i,
h2 {
  font-size: 1.3rem;
}

.product__section {
  background-color: red;
  /* flex: 5; */
  flex: 1;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.box {
  border: 1px solid rgb(0, 0, 0);
}

.box1,
.bo4,
.box7,
.box8 {
  grid-row: span 1;
  grid-column: span 2;
}
