.hero__section {
  display: flex;
  width: 90%;
  height: 500px;
  margin: 2rem auto;
}

.explore__section {
  /* flex: 1; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.explore__section ul {
  list-style: none;
}

.explore__section ul li {
  margin-top: 1rem;
}

.explore__section ul li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  transition: var(--trans-normal);
}

.explore__section ul li a:hover {
  color: rgb(79, 62, 238);
}

.explore__heading {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.explore__section i {
  font-size: 1rem;
  margin-right: 0.7rem;
}

.contact__section {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact__section i,
h2 {
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
}

.product__section {
  /* flex: 5; */
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin-left: 1rem;
  margin-right: 1rem;
}

.box {
  border-radius: 12px;
  margin: 0.3rem;
  min-height: 115px;
  cursor: pointer;
  user-select: none;
  transition: var(--trans-slow);
}

.box2:hover,
.box3:hover {
  transform: translateY(-5px);
}

.box5:hover,
.box6:hover {
  transform: translateY(5px);
}

.box1:hover,
.box4:hover {
  transform: translateX(-5px);
}

.box7:hover,
.box8:hover {
  transform: translateX(5px);
}

.box1,
.box4,
.box7,
.box8 {
  grid-row: span 1;
  grid-column: span 2;
}

.box2,
.box3,
.box5,
.box6 {
  grid-row: span 2;
  grid-column: span 1;
}

.box1 {
  background-image: url("/img/image_1.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.box1 h3 {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.box2 {
  background-image: url("../img/image_2.jpg");
  text-align: center;
  background-position: center;
  background-size: cover;
}

.box3 {
  background-image: url("../img/image_3.jpg");
  text-align: center;
  background-position: center;
  background-size: cover;
}

.box4 {
  background-image: url("../img/image_4.jpg");
  text-align: center;
  background-position: center;
  background-size: cover;
}

.box5 {
  background-image: url("../img/image_5.jpg");
  text-align: center;
  background-position: center;
  background-size: cover;
}

.box6 {
  background-image: url("../img/image_6.jpg");
  text-align: center;
  background-position: center;
  background-size: cover;
}

.box7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/image_7.jpg");
  background-position: center;
  background-size: cover;
  text-align: start;
}

.box8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/image_8.jpg");
  background-position: center;
  background-size: cover;
  text-align: start;
}

.box h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  margin-left: 2rem;
}

.box p {
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 2rem;
}

.box7 h4 {
  color: blue;
}

.box8 h4 {
  color: rgb(88, 59, 3);
}

@media (max-width: 770px) {
  .hero__section {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* height: 500px; */
    margin: 2rem auto;
  }

  .explore__section {
    /* flex: 1; */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .explore__section ul li {
    margin-top: 0.8rem;
    display: inline-block;
    margin-right: 0.7rem;
  }
  .explore__section ul li a {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .explore__heading {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
  }

  .explore__section i {
    font-size: 0.8rem;
    margin-right: 0.4rem;
  }

  .explore__section {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-bottom: 2rem;
  }
  .contact__section i,
  h2 {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .product__section {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
    margin-right: 0;
  }
  .explore__content {
    flex: 1;
  }
}
@media (max-width: 768px) {
  .explore__section ul li a {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .explore__content {
    flex: 1;
  }

  .explore__heading {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .explore__section i {
    font-size: 0.8rem;
    margin-right: 0.4rem;
  }
  .explore__section {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .contact__section i,
  h2 {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .box h4 {
    font-size: 0.6rem;
    margin-bottom: 0.4rem;
    margin-left: 1rem;
  }

  .box p {
    font-size: 0.5rem;
    font-weight: 700;
    margin-left: 1rem;
  }
}

@media (max-width: 1024px) {
  .box h4 {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    margin-left: 1.2rem;
  }

  .box p {
    font-size: 0.5rem;
    font-weight: 700;
    margin-left: 1.2rem;
  }
}

@media (max-width: 320px) {
  .box h4 {
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }

  .box p {
    font-size: 0.5rem;
    font-weight: 700;
    margin-left: 0.5rem;
  }
  .box1 h3 {
    font-size: 1rem;
  }
}
